   <div id="map"></div>
   <div id="street-view"></div>

   <script type="text/javascript">

    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: <%= @user_location.lat %>, lng: <%= @user_location.lng %>},
        zoom: 15
      });

      var walking_image = "<%= image_url "person.png" %>";

      var recycling_image = "<%= image_url "recycle-icon2.png" %>";

      var you = new google.maps.Marker({
        position: {lat: <%= @user_location.lat %>, lng: <%= @user_location.lng %>},
        map: map,
        title: 'You!'
        icon: walking_image
  });

      var bin = new google.maps.Marker({
        position: {lat: <%= @bin.latitude %>, lng: <%= @bin.longitude %>},
        map: map,
        title: 'Your bin!'
        icon: recycling_image
  });
    }

    var panorama;
    function initialize() {
      panorama = new google.maps.StreetViewPanorama(
        document.getElementById('street-view'),
        {
          position: {lat: <%= @bin.latitude %>, lng: <%= @bin.longitude %>},
          pov: {heading: 0, pitch: 0},
          zoom: 1
        });
    }

    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTprEG2S0w5APdH4WRIC2ks0aDhMSfyac&callback=initMap">
  </script>
  <script async defer
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTprEG2S0w5APdH4WRIC2ks0aDhMSfyac&callback=initialize">
    </script>

