<h1>Map of Your Location (Y) and The Closest Bin (B)</h1>
<div id="map"></div>

<h1>Streetview (Look for the blue bin!)</h1>
<div id="street-view"></div>

 <script type="text/javascript">

  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @user_location.lat %>, lng: <%= @user_location.lng %>},
      zoom: 15
    });

    // var person_image = "<%= image_url "person.png" %>";

    // var recycling_image = "<%= image_url "recycle_icon2.png" %>";

    // var user_location_info = "You are here"

    // var bin_location_info = "Here is the closest recycling bin"

    // var infowindowUser = new google.maps.InfoWindow({
    // content: user_location_info
    // });

    // var infowindowBin = new google.maps.InfoWindow({
    // content: bin_location_info
    // });

    var you = new google.maps.Marker({
      position: {lat: <%= @user_location.lat %>, lng: <%= @user_location.lng %>},
      map: map,
      title: 'You!',
      label: "Y",
      animation: google.maps.Animation.DROP
      // icon: person_image
    });

    // you.addListener('click', function() {
    // infowindowUser.open(map, you);
    // });

    var bin = new google.maps.Marker({
      position: {lat: <%= @bin.latitude %>, lng: <%= @bin.longitude %>},
      map: map,
      title: 'Your bin!',
      label: "B",
      animation: google.maps.Animation.DROP
      // icon: recycling_image
    });

    // bin.addListener('click', function() {
    // infowindowBin.open(map, bin);
    // });

  }

  var panorama;
  function initialize() {
    panorama = new google.maps.StreetViewPanorama(
      document.getElementById('street-view'),
      {
        position: {lat: <%= @bin.latitude %>, lng: <%= @bin.longitude %>},
        pov: {heading: 0, pitch: 0},
        zoom: 1
      });
  }

</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTprEG2S0w5APdH4WRIC2ks0aDhMSfyac&callback=initMap">
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTprEG2S0w5APdH4WRIC2ks0aDhMSfyac&callback=initialize">
</script>

