<p><%= @user_location.lat %></p>
<p><%= @user_location.lng %></p>
<p><%= @bin.borough %></p>
<p><%= @bin.site_type %></p>
<p><%= @bin.park_site_name %></p>
<p><%= @bin.address %></p>
<p><%= @bin.latitude %></p>
<p><%= @bin.longitude %></p>
