<div class="errors">

</div>
<div class="row">
  <div class="twelve columns text-center"><br />
  <a href="/" class="logo"><%=image_tag "recycle-icon.png", class: "logo"%></a>
    <h1> Re: </h1>
    <br> 
    <div class="main">
      <div class="main_page">

        <button class="button large">Use Current Location</button>

        <br>

        <hr>

        <%= form_tag "/bins/convert_to_latlng", method: :post do %>
          <%= text_field_tag "address", nil, placeholder:"Street Address", required: true %>
          <%= text_field_tag "city", nil, placeholder:"City", required: true %>
          <%= text_field_tag "state", nil, placeholder:"State" %>
          <%= text_field_tag "zip", nil, placeholder:"Zip Code" %>
          <%= submit_tag "Find Bin", class:"success button" %>
        <% end %>

        <p id="location"></p>
      </div>
    </div>
  </div>
</div>

<div class="map-container">

</div>

<div class="directions-container">

</div>

<div class="streetview-container">

</div>
