<div class="errors">

</div>
<div class="row">
  <div class="twelve columns text-center"><br />
  <a href="javascript:location.reload(true)" class="logo"><%=image_tag "nycycle.png", class: "logo"%></a>
    <br>
    <div class="main">
      <div class="main_page">
      <h2>Find Closest NYC Recycling Bin:</h2>
      <br>
        <button class="button large location">Use Current Location</button>
        <button class="button large address">Input Address</button>
        <div class="address_form">
          <%= form_tag "/bins/convert_to_latlng", method: :post do %>
          <%= text_field_tag "address", nil, placeholder:"Street Address", required: true %>
          <%= text_field_tag "city", nil, placeholder:"City", required: true %>
          <%= text_field_tag "zip", nil, placeholder:"Zip Code" %>
          <%= submit_tag "Find Bin", class:"success button" %>
        <% end %>
        </div>


        <p id="location"></p>
      </div>
    </div>
  </div>
</div>

<div class="map-container">

</div>

<div class="directions-container">

</div>

<div class="streetview-container">

</div>
