<div class="main">

  <h3>Street View</h3>

  <div id="street_view"></div>

  <%= button_to "Map", { action: "getlatlng", lat: @user_location.latitude, lng: @user_location.longitude, bin: @bin },
                                method: :post %>
  <%= button_to "Waking Directions", { action: "walking_directions", lat: @user_location.latitude, lng: @user_location.longitude, bin: @bin },
                                method: :post %>
  <%= button_to "Street View", { action: "street_view", lat: @user_location.latitude, lng: @user_location.longitude, bin: @bin },
                                method: :post %>

  <script type="text/javascript">

  var panorama;
  function initialize() {
    panorama = new google.maps.StreetViewPanorama(
      document.getElementById('street_view'),
      {
        position: {lat: <%= @bin.latitude %>, lng: <%= @bin.longitude %>},
        pov: {heading: 0, pitch: 0},
        zoom: 1
      });
  }

  </script>

  <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTprEG2S0w5APdH4WRIC2ks0aDhMSfyac&callback=initialize">
  </script>

</div>
