<div class="main">

  <%= form_tag "/bins/getlatlng", method: :post, id: "map-button" do %>
  <%= hidden_field_tag(:lat, @user_location.latitude) %>
  <%= hidden_field_tag(:lng, @user_location.longitude) %>
  <%= hidden_field_tag(:bin, @bin.id) %>
  <%= submit_tag("Map")%>
  <% end %>

  <%= form_tag "/bins/walking_directions", method: :post, id: "walking-button" do %>
  <%= hidden_field_tag(:lat, @user_location.latitude) %>
  <%= hidden_field_tag(:lng, @user_location.longitude) %>
  <%= hidden_field_tag(:bin, @bin.id) %>
  <%= submit_tag("Walking Directions")%>
  <% end %>

  <%= form_tag "/bins/street_view", method: :post, id: "streetview-button" do %>
  <%= hidden_field_tag(:lat, @user_location.latitude) %>
  <%= hidden_field_tag(:lng, @user_location.longitude) %>
  <%= hidden_field_tag(:bin, @bin.id) %>
  <%= submit_tag("Street View")%>
  <% end %>

   <h3>Street View</h3>

  <div id="street_view"></div>

  <script type="text/javascript">

  var panorama;
  function initialize() {
    panorama = new google.maps.StreetViewPanorama(
      document.getElementById('street_view'),
      {
        position: {lat: <%= @bin.latitude %>, lng: <%= @bin.longitude %>},
        pov: {heading: 0, pitch: 0},
        zoom: 1
      });
  }

  </script>

</div>
