<div class="main">

  <%= form_tag "/bins/getlatlng", method: :post, id: "map-button" do %>
  <%= hidden_field_tag(:lat, @user_location.latitude) %>
  <%= hidden_field_tag(:lng, @user_location.longitude) %>
  <%= hidden_field_tag(:bin, @bin.id) %>
  <%= submit_tag "Map", class:"button round"%>
  <% end %>

  <%= form_tag "/bins/walking_directions", method: :post, id: "walking-button" do %>
  <%= hidden_field_tag(:lat, @user_location.latitude) %>
  <%= hidden_field_tag(:lng, @user_location.longitude) %>
  <%= hidden_field_tag(:bin, @bin.id) %>
  <%= submit_tag "Walking Directions", class:"button round disabled" %>
  <% end %>

  <%= form_tag "/bins/street_view", method: :post, id: "streetview-button" do %>
  <%= hidden_field_tag(:lat, @user_location.latitude) %>
  <%= hidden_field_tag(:lng, @user_location.longitude) %>
  <%= hidden_field_tag(:bin, @bin.id) %>
  <%= submit_tag "Street View", class:"button round" %>
  <% end %>

  <div id="walking_directions"></div>
  <div id="walking_map"></div>
  <script type="text/javascript">
    var user_lat = <%= @user_location.lat %>;
    var user_lng = <%= @user_location.lng %>;
    var bin_lat = <%= @bin.latitude %>;
    var bin_lng = <%= @bin.longitude %>;

  initWalking(user_lat, user_lng, bin_lat, bin_lng);
  </script>
  </div>
</div>
