<div class="main">

  <%= form_tag "/bins/getlatlng", method: :post, id: "map-button" do %>
  <%= hidden_field_tag(:lat, @user_location.latitude) %>
  <%= hidden_field_tag(:lng, @user_location.longitude) %>
  <%= hidden_field_tag(:bin, @bin.id) %>
  <%= submit_tag("Map")%>
  <% end %>

  <%= form_tag "/bins/walking_directions", method: :post, id: "walking-button" do %>
  <%= hidden_field_tag(:lat, @user_location.latitude) %>
  <%= hidden_field_tag(:lng, @user_location.longitude) %>
  <%= hidden_field_tag(:bin, @bin.id) %>
  <%= submit_tag("Walking Directions")%>
  <% end %>

  <%= form_tag "/bins/street_view", method: :post, id: "streetview-button" do %>
  <%= hidden_field_tag(:lat, @user_location.latitude) %>
  <%= hidden_field_tag(:lng, @user_location.longitude) %>
  <%= hidden_field_tag(:bin, @bin.id) %>
  <%= submit_tag("Street View")%>
  <% end %>

  <h3 class="text-center">Walking Directions</h3>

  <div id="walking_directions"></div>

  <div id="map"></div>

  <script type="text/javascript">

    function initMap() {

      var user = {lat: <%= @user_location.lat %>, lng: <%= @user_location.lng %>};
      var bin = {lat: <%= @bin.latitude %>, lng: <%= @bin.longitude %>};

      var directionsDisplay = new google.maps.DirectionsRenderer;
      var directionsService = new google.maps.DirectionsService;

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7,
        center: user
      });

      directionsDisplay.setMap(map);
      directionsDisplay.setPanel(document.getElementById('walking_directions'));

      calculateAndDisplayRoute(directionsService, directionsDisplay);


      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var start = user;
        var end = bin;
        directionsService.route({
          origin: start,
          destination: end,
          travelMode: google.maps.TravelMode.WALKING
        }, function(response, status) {
          if (status === google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    }


  </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTprEG2S0w5APdH4WRIC2ks0aDhMSfyac&callback=initMap">
  </script>

</div>
