<div class="main">

  <h3 class="text-center">Walking Directions</h3>

  <div id="walking_directions"></div>

  <div id="map"></div>

  <%= button_to "Map", { action: "getlatlng", lat: @user_location.latitude, lng: @user_location.longitude, bin: @bin }, id: "map-button", method: :post %>
  <%= button_to "Waking Directions", { action: "walking_directions", lat: @user_location.latitude, lng: @user_location.longitude, bin: @bin }, id: "walking-button", method: :post %>
  <%= button_to "Street View", { action: "street_view", lat: @user_location.latitude, lng: @user_location.longitude, bin: @bin }, id: "street-button", method: :post %>

  <script type="text/javascript">

    function initMap() {

      var user = {lat: <%= @user_location.lat %>, lng: <%= @user_location.lng %>};
      var bin = {lat: <%= @bin.latitude %>, lng: <%= @bin.longitude %>};

      var directionsDisplay = new google.maps.DirectionsRenderer;
      var directionsService = new google.maps.DirectionsService;

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7,
        center: user
      });

      directionsDisplay.setMap(map);
      directionsDisplay.setPanel(document.getElementById('walking_directions'));

      calculateAndDisplayRoute(directionsService, directionsDisplay);
      // $("#map").hide()


      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var start = user;
        var end = bin;
        directionsService.route({
          origin: start,
          destination: end,
          travelMode: google.maps.TravelMode.WALKING
        }, function(response, status) {
          if (status === google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    }


  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTprEG2S0w5APdH4WRIC2ks0aDhMSfyac&callback=initMap">
  </script>

</div>
